<h1 class="my-4">Fortisi</h1>
<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action text-white bg-dark">
      Categories
    </a>
    <a routerLink="/shop" class="list-group-item list-group-item-action">Living Room</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Bedroom</a>
    <a routerLink="/shop" class="list-group-item list-group-item-action">Kitchen</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Bathroom</a>
  </div>