* {
  box-sizing: border-box;
}

body {
  background-image: url("src\assets\images\signupPattern.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.register-card label {
  font-size: small;
}
