<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Total</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cartItemJson of cartItems | async">
              <td class="col-sm-8 col-md-6">
                <div class="media">
                  <img
                    class="media-object"
                    src="{{cartItemJson.imageUrl}}"
                    style="width: 72px; height: 72px"
                  />
                  <div class="media-body pl-2 pt-3">
                    <h4>{{cartItemJson.name}}</h4>
                  </div>
                </div>
              </td>
              <td class="col-sm-1 col-md-1">
                <div class="pt-3">
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    value="{{cartItemJson.quantity}}"
                  />
                </div>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <div class="pt-4">
                  <strong>{{ cartItemJson.price | currency: "EUR" }}</strong>
                </div>
              </td>
              <td class="col-sm-1 col-md-1 text-center">
                <div class="pt-4">
                  <strong>{{ cartItemJson.price * cartItemJson.quantity | currency: "EUR" }}</strong>
                </div>
              </td>
              <td class="col-sm-1 col-md-1">
                <div class="pt-3">
                  <button type="button" class="btn btn-dark" (click)="deleteItem(cartItemJson.email, cartItemJson.itemId)">
                    <span><i class="fas fa-trash"></i></span>
                  </button>
                </div>
              </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td><h3>Total</h3></td>
              <td class="text-right">
                <h3><strong>{{400 | currency: "EUR"}}</strong></h3>
              </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td></td>
              <td>
                <a routerLink="/checkout" class="btn btn-dark">
                  Checkout <span class="glyphicon glyphicon-play"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
