<div class="container">
  <div class="row" id="galerija">
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/stolica_sto.jpg" alt="" />
      <p class="font-weight-bold text-under">Chair</p>
      <small>50 eur</small>
    </div>
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/livingRoom.jpg" alt="" />
      <p class="font-weight-bold text-under">LivingRoom</p>
      <small>3000 eur</small>
    </div>
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/nighttable.jpg" alt="" />
      <p class="font-weight-bold text-under">Night Table</p>
      <small>80 eur</small>
    </div>
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/radniSto.jpg" alt="" />
      <p class="font-weight-bold text-under">Table</p>
      <small>400 eur</small>
    </div>
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/kitchen.jpg" alt="" />
      <p class="font-weight-bold text-under">Kitchen</p>
      <small>3000 eur</small>
    </div>
    <div class="col-md-4 imgGallery text-center">
      <img src="./assets/images/krevet.jpg" alt="" />
      <p class="font-weight-bold text-under">Bedroom</p>
      <small>2000 eur</small>
    </div>
  </div>
  <div class="shop-button text-center">
    <a routerLink="/shop" class="btn btn-dark button-center">Load More</a>
  </div>
</div>
