 <div class="container text-center padding">
    <h3>Power of the idea and art of craftsmanship</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, blanditiis modi numquam cupiditate sapiente quas, soluta dolores eaque rem natus molestias sit delectus nulla tempore repellendus obcaecati dolorem dignissimos ab! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, est dolor dignissimos aliquam doloribus illum totam aut quis nemo recusandae soluta magnam ut earum modi atque. Dolorum aspernatur ex placeat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, alias? Repudiandae, qui, vitae veritatis, odit alias quo autem voluptatum reprehenderit perferendis magni quia voluptate nisi. Animi, numquam! Maiores, error itaque!</p>
 </div> 
 

<!-- slike body komp -->
<app-gallery></app-gallery>