.navbar {
  background-color: lightgray;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.navbar-right {
  position: absolute;
  right: 5%;
}

.navbar-nav li {
  padding-right: 10px;
}

.userIcon {
  color: black;
  padding-right: 20px;
}

.cartIcon {
  color: black;
}
