<div class="container">
    <h4 class="text-uppercase">our story & philosophy</h4>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam ipsum autem nisi quidem, impedit perspiciatis consequuntur at repellat deserunt beatae porro, et non, est assumenda sequi quasi suscipit maiores facere?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis nemo facilis delectus? Ab aut officiis iure vitae neque reiciendis quam, error officia praesentium fuga qui. Ullam architecto dicta sint provident!</p>
    
    <img src="./assets/images/Craftsman.jpg" alt="">
</div>
<app-social-sidebar></app-social-sidebar>

