<body>
  <div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="img-details">
            <img src="./assets/images/bedRoom.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-6">
          <h2>Bedroom</h2>
          <p>
            Praesent ac condimentum felis. Nulla at nisl orci, at dignissim
            dolor, The best product descriptions address your ideal buyer
            directly and personally. The best product descriptions address your
            ideal buyer directly and personally.
          </p>
          <div><strong>Price : </strong>500</div>
          <div class="form-group">
            <label>Quantity</label>
            <input
              type="quantity"
              placeholder="1"
              class="form-control quantity"
            />
          </div>
          <p>
            <button class="btn btn-round btn-dark" type="button">
              <i class="fa fa-shopping-cart"></i> Add to Cart
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
