<div class="icon-bar">
  <a href="https://www.facebook.com/smartinit.kursevi/" class="facebook"
    ><img src="./assets/images/facebook-logo.png" width="20" alt=""
  /></a>
  <a href="https://twitter.com/panonit" class="twitter"
    ><img src="./assets/images/twitter.png" width="20" alt=""
  /></a>
  <a
    href="https://www.instagram.com/smartinit_kurseviprogramiranja/?hl=en"
    class="instagram"
    ><img src="./assets/images/instagram-logo.png" width="20" alt=""
  /></a>
  <a href="https://www.pinterest.com/pin/99431104267738416/" class="pinterest"
    ><img src="./assets/images/pinterest.png" width="20" alt=""
  /></a>
</div>
